@model IEnumerable<LocadoraDeCarros.Models.CarroViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<partial name="_mensagemPartial" />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tabelaCarros">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#tabelaClientes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
            }
        });
    });
    </script>
}